body {

/* чтобы ссылки выглядели как кнопки */
.box {

  display: inline-block;
  text-decoration: none;       /* убираем подчёркивание */
  padding: 10px 20px;
  margin: 10px 0;
  border: 2px solid #4CAF50;
  border-radius: 8px;
  background-color: #2E7D56;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.box:hover {
  border-color: #A8D5BA;
  background-color: #96C49F;
  color: #2E7D56;
}
  background: linear-gradient(135deg, #487140, #1c4518);
  min-height: 100vh;       /* чтобы фон занимал всю высоту страницы */
  margin: 0;               /* убираем стандартные отступы */
  font-family: Arial, sans-serif;
  color: #fff;             /* цвет текста по умолчанию */
}
.box {
  display: block;                   /* каждый элемент занимает всю ширину строки */
  padding: 10px 20px;
  margin: 10px 0;                   /* отступы между строками */
  border: 2px solid #4CAF50;
  border-radius: 8px;
  transition: border-color 0.3s, color 0.3s, background-color 0.3s;
  background-color: #2E7D56;
  color: #fff;
  cursor: pointer;
  width: fit-content;               /* рамка обхватывает только текст */
}
/* Эффект при наведении */
.box:hover {
  border-color: #A8D5BA;
  background-color: #96C49F;
  color: #2E7D56;
}

.container {
.container {
  padding: 30px;
  border-radius: 12px;
  max-width: 1000px;
  margin: auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}
з
h1 {
  color: #e6d1aa;
  font-size: 2.5em;
}

p {
  font-size: 1.2em;
  margin: 15px 0;
}

button {
  background: #13311b;
  color: white;
  border: none;
  padding: 12px 20px;
  font-size: 1em;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: 7e9576;
  
  
}




